/* Circle avatar */

*, ::after, ::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

.w-12 {
  width: 3rem;
}

.h-12 {
  height: 3rem;
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.border {
  border-width: 1px;
}

.rounded-full {
  border-radius: 9999px;
}

.border-gray-100 {
  --border-opacity: 1;
  border-color: #f7fafc;
}

img, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}

img {
  border-style: solid;
}

.w-3 {
  width: .75rem;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.absolute {
  position: absolute;
}

.my-1 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.h-3 {
  height: .75rem;
}

.border-2 {
  border-width: 2px;
}

.rounded-full {
  border-radius: 9999px;
}

.border-white {
  --border-opacity: 1;
  border-color: #fff;
}

.bg-green-400 {
  --bg-opacity: 1;
  background-color: #68d391;
}
