<div class="row d-flex justify-content-center mt-5" style="height:500px;">
    <div class="col-2 pt-3 border">
        <div *ngFor="let user of onlineUser">
            <div class="d-flex mb-2" style="cursor: pointer;" (click)="selectUser(user)">
                <div class="position-relative w-12 h-12">
                    <img class="rounded-full border border-gray-100 shadow-sm" src="avatar.png" alt="user image" />
                    <div class="absolute top-0 right-0 h-3 w-3 my-1 border-2 border-white rounded-full bg-green-400 z-2"></div>
                </div>
                <span class="align-self-center ml-2 text-muted h6">{{user.firstName}}</span>
            </div>
        </div>
    </div>
    <div class="col-6 border border-left-0 pr-0">
        <div #scrollMe style="height: 450px;overflow-y: auto;overflow-x: hidden;" class="pt-3 pr-1">
            <div *ngFor="let msg of messages">
                <div class="row" *ngIf="msg.type == 'received'">
                    <div class="col">
                        <div *ngIf="!msg.isDeleted" class="alert alert-warning float-left">
                            <span class="d-block" style=" font-weight: 500;">{{msg.message}}</span>
                            <span class="d-block text-secondary" style=" font-weight: 400; font-size: 12px;">
                                <span><em>{{msg.date | date:'medium'}}</em></span>
                            </span>
                        </div>
                        <div *ngIf="msg.isDeleted" class="alert float-left border border-danger">
                            <span class="d-block text-danger" style="font-weight: 500;">Message removed</span>
                            <span class="d-block text-info" style=" font-weight: 400; font-size: 12px;">
                                <span><em>{{msg.date | date:'medium'}}</em></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="msg.type == 'sent'">
                    <div class="col">
                        <div *ngIf="!msg.isDeleted" class="alert alert-info float-right">
                            <i (click)="deleteChat(msg)" class="fa fa-trash-o text-danger" aria-hidden="true" style="position: absolute;right: 5px;cursor:pointer"></i>
                            <span class="d-block" style=" font-weight: 500;">{{msg.message}}</span>
                            <span class="d-block text-info" style=" font-weight: 400; font-size: 12px;">
                                <span><em>{{msg.date | date:'medium'}}</em></span>
                            </span>
                        </div>
                        <div *ngIf="msg.isDeleted" class="alert float-right border border-danger">
                            <span class="d-block text-danger" style="font-weight: 500;">Message removed</span>
                            <span class="d-block text-info" style=" font-weight: 400; font-size: 12px;">
                                <span><em>{{msg.date | date:'medium'}}</em></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2 mr-0 pb-2" style="border-top: 1px solid #e2e8f0;">
            <div class="col pr-0">
                <input style="box-shadow: none;" class="form-control" type="text" [value]="txtMessage" (input)="txtMessage=$event.target.value"
                       (keydown.enter)="sendMessage()" placeholder="Type a message" />
            </div>
            <button [disabled]="!chatUser" type="button" (click)="sendMessage()" class="btn btn-success mr-2">
                Send
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
