<button (click)="logout()" type="button" class="btn btn-outline-info btn-sm ml-2">Logout</button>
<div class="row d-flex justify-content-center mt-5" style="height:500px;">
    <div class="col-2 pt-3 border">
        <div class="d-flex mb-2">
            <div class="position-relative w-12 h-12">
                <img class="rounded-full border border-gray-100 shadow-sm" src="avatar.png" alt="user image" />
                <div class="absolute top-0 right-0 h-3 w-3 my-1 border-2 border-white rounded-full bg-green-400 z-2"></div>
            </div>
            <span class="align-self-center ml-2 text-muted h6">Rakib</span>
        </div>
        <div class="d-flex mb-2">
            <div class="position-relative w-12 h-12">
                <img class="rounded-full border border-gray-100 shadow-sm" src="avatar.png" alt="user image" />
                <div class="absolute top-0 right-0 h-3 w-3 my-1 border-2 border-white rounded-full bg-green-400 z-2"></div>
            </div>
            <span class="align-self-center ml-2 text-muted h6">Afnan</span>
        </div>
    </div>
    <div class="col-6 border border-left-0">
        <div class="row border-bottom" style="height:450px;">

            <div class="msg_history">
                <div *ngFor="let msg of messages">
                    <div class="incoming_msg" *ngIf="msg.type == 'received'">
                        <div class="incoming_msg_img"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    {{msg.message}}
                                </p>
                                <span class="time_date"> {{msg.date | date:'medium'}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg" *ngIf="msg.type == 'sent'">
                        <div class="sent_msg">
                            <p>
                                {{msg.message}}
                            </p>
                            <span class="time_date"> {{msg.date | date:'medium'}}</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row pt-1">
            <div class="col pr-0">
                <input class="form-control" type="text" [value]="txtMessage" (input)="txtMessage=$event.target.value"
                       (keydown.enter)="sendMessage()" placeholder="Type a message" />
            </div>
            <button type="button" (click)="sendMessage()" class="btn btn-primary mr-2">Send</button>
        </div>
    </div>
</div>
<!--<div class="row mt-3">
  <div class="col-sm-2 pr-0">
    <div class="card mb-3" style="height:500px;">
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-sm-5 pl-0">
    <div class="card border-left-0 mb-3" style="height:500px;">
      <div class="card-header bg-transparent">Header</div>
      <div class="card-body">

      </div>
      <div class="card-footer bg-transparent">

        <div class="form-inline">
          <input class="form-control col-10" type="text" placeholder=".form-control-lg">
          <button type="submit" class="btn btn-primary ml-2">Send</button>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <h3 class=" text-center chat_header">Chat Application</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">
          <div *ngFor="let msg of messages">
            <div class="incoming_msg" *ngIf="msg.type == 'received'">
              <div class="incoming_msg_img"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>
                    {{msg.message}}
                  </p>
                  <span class="time_date"> {{msg.date | date:'medium'}} </span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="msg.type == 'sent'">
              <div class="sent_msg">
                <p>
                  {{msg.message}}
                </p>
                <span class="time_date"> {{msg.date | date:'medium'}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" [value]="txtMessage"
                   (input)="txtMessage=$event.target.value" (keydown.enter)="sendMessage()" placeholder="Type a message" />
            <button class="msg_send_btn" type="button" (click)="sendMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>-->
